<!DOCTYPE html>
<html>
	<head>
		<title><%= pageTitle %></title>
	</head>
	<body>
		<h1><%= conv.title %></h1>
		<% for (var i = 0; i < msgs.length; i++)  {%>
		<h2><%= msgs[i].messages %></h2>
		<%}%>
	</body>
</html>