<%include header.ejs%>
	
		<img src= "/img/bg/bg1.jpg">
		<div class="tag-box">
			<a href="sign_up" class="tagline" >Join us! <br> Don't miss out on your love life!</a>
		</div>

<%include footer.ejs%>